{% load static %}<html>
<head>
    <title> {{ tittle }} </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{% static 'tasks/bulma.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'tasks/custom.css' %}">
</head>
    <body>

        {% include "tasks/navbar.html" %}

        <h1 class="title">TaskMaster</h1>
        <h2 class="subtitle">{{ title }}</h2>

        <!--<h2> No soy un subtitulo</h2>
        <p class="subtitulo"> Yo si soy un "subtitulo"</p>

        <p>{% lorem 1 p %}</p>

        <div class="fuera">
            <div class="dentro">
                Contenido
            </div>
            <div class="dentro">
                Contenido
            </div>
            <div class="dentro">
                Contenido
            </div>
        </div>


        <section class="news">
            <p>Últimas noticias</p>
            <div>
                <p>Otro parrafo</p>
            </div>
        </section>

        <div>
            <button> Activado </button>
            <button disabled> Desactivado </button>
            <a href="https://python.org/">Python</a>
            <a href="https://github.com/">GitHub</a>
        </div>

        <ul>
            <li>one</li>
            <li>two</li>
            <li>three</li>
        </ul>-->


        {% block content %}

        {% endblock content %}

        <p id="trademark"> CopyRight TaskMaster 2024 </p>

        {% block javascript %}
        {% endblock javascript %}
    </body>
</html>